importFrom(doRNG,"%dorng%")
import(foreach)
export(iProMix.eFDR.PermAdd)
export(iProMix.eFDR.PermReplace)
export(iProMix.LRT.matrix)
export(iProMix.LRT)
export(iProMix.PermAdd.LRT.matrix)
export(iProMix.PermAdd.LRT)
export(iProMix.PermAdd.LRT)
export(iProMix)